body {
    font-family: Sans-serif;
}

.bankform  {
    min-height: 2em;
    width: 80%;
    border: .1em solid black;
    border-radius: 5px;
}

.oddform {
    min-height: 2em;
    width: 80%;
    border: .1em solid black;
    border-radius: 5px;
}

.evenform {
    min-height: 2em;
    width: 80%;
    border: .1em solid black;
    border-radius: 5px;
}